{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'programs/style.scss' %}" />
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet" type="text/css">

<div class="header">
  <h1 class="header-title">MatchMaker</h1>
  <ul class="top-nav">
    <li class="top-nav-item"><a href="/programs">MatchMaker</a></li>
    <li class="top-nav-item"><a href="/programs/matrix/">Correlation Matrix</a></li>
    <li class="top-nav-item"><a href="/programs/finder/">Match Finder</a></li>
  </ul>
</div>

<div class="main-content">
  <div class="matchmaker">
    <p> This is the main MatchMaker page</p>
    <table>
    </table>
  </div>
</div>
